 <style>
	/// Overwrite base text color (temp fix)
    :root {
        --body-text-color: "#a1a1a1", var(--body-text-color);
    }
    :root {
        --card-text-color-tertiary: #b5b5b5, var(--card-text-color-tertiary);
    }

    li.current span {
    	font-style: italic;
    }
</style> 

<!-- Panelbear -->
<script async src="https://cdn.panelbear.com/analytics.js?site=JHGZNvP2AyH"></script>
<script>
    window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
    panelbear('config', { site: 'JHGZNvP2AyH' });
</script>


<!-- <style>
	/// Overwrite CSS variable
    :root {
        --article-font-family: "Inter", var(--base-font-family);
    }
</style>

<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap";
    
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
    
        document.head.appendChild(customFont);
    }());
</script> -->
